
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@await Component.InvokeAsync("_DashboardWidgetsComponentPartial")



    <div class="row">

    @await Component.InvokeAsync("_DashboardMainChartComponentPartial")
    @await Component.InvokeAsync("_DashboardSecondChartComponentPartial")

        

    </div><!--end row-->
@await Component.InvokeAsync("_DashboardSubWidgetsComponentPartial")
@* @await Component.InvokeAsync("_DashboardRadialChartComponentPartial")
 *@


    <div class="row">
        

    @await Component.InvokeAsync("_DashboardForecastingPoliciesSalesComponentPartial")
    @await Component.InvokeAsync("_DashboardPolicyTypesComponentPartial")

        

    </div><!--end row-->
@await Component.InvokeAsync("_DashboardSubChartsComponentPartial")

  


    <div class="row">
    @await Component.InvokeAsync("_DashboardCommentListComponentPartial")
    @await Component.InvokeAsync("_DashboardAppUserQuickViewTableComponentPartial")

        
        

    </div>




