<div class="header-top second-header d-none d-md-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 d-none  d-md-block">
                <div class="header-social">
                    <span>
                        <a href="https://www.facebook.com/login" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/login" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://twitter.com/login" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
                    </span>
                    <!--  /social media icon redux -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-right d-none d-md-block">
                <div class="header-cta">
                    <ul>
                        <li><a href="/Chat/SendChatWithAI/">Çözüm Merkezi</a></li>
                        <li><a href="#pricing">Tekliflerimiz</a></li>
                        <li><a href="#contact">Neden Biz</a></li>
                        <li><a href="#">7x24 Destek</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
