<section class="service-details pb-60 p-relative fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-left">
                    <div class="number">01</div>
                    <h5>📜 Kapsamlı Poliçeler</h5>
                    <p>İhtiyaçlarınıza özel hazırlanan geniş kapsamlı sigorta paketlerimizle, kendinizi ve sevdiklerinizi her türlü riske karşı tam güvence altına alın.</p>
                    <a href="/Blog/BlogList/" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-up" data-aos-duration="1000">
                    <div class="number">02</div>
                    <h5>💳 Hızlı Ödeme Sistemi</h5>
                    <p>Hasar anında bürokrasiyle uğraşmayın. Yapay zeka destekli sistemimiz sayesinde ödemelerinizi en kısa sürede doğrudan hesabınıza alın.</p>
                    <a href="/Blog/BlogList/" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-right">
                    <div class="number">03</div>
                    <h5>💬 Kesintisiz Destek</h5>
                    <p>Sorularınız ve ihtiyaçlarınız için 7 gün 24 saat yanınızdayız. Uzman danışmanlarımızla her an profesyonel destek parmaklarınızın ucunda.</p>
                    <a href="/Blog/BlogList/" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-left">
                    <div class="number">04</div>
                    <h5>🤖 AI Hasar Analizi</h5>
                    <p>Gelişmiş yapay zeka algoritmalarımızla hasar tespit süreçlerini hızlandırın, fotoğraflar üzerinden saniyeler içinde ön değerlendirme raporu alın.</p>
                    <a href="/Blog/BlogList/" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-up" data-aos-duration="1000">
                    <div class="number">05</div>
                    <h5>📊 Kişiye Özel Teklif</h5>
                    <p>Geleneksel paketler yerine yaşam tarzınıza ve gerçek risklerinize en uygun, bütçe dostu sigorta çözümlerini veri analitiği ile oluşturuyoruz.</p>
                    <a href="/Blog/BlogList/" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-right">
                    <div class="number">06</div>
                    <h5>📱 Mobil Yönetim</h5>
                    <p>Tüm poliçelerinizi tek bir uygulama üzerinden takip edin; vade hatırlatmaları, canlı destek ve dijital asistanınıza her yerden erişin.</p>
                    <a href="/Blog/BlogList/" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>

        </div>
    </div>
</section>
