<div class="offcanvas-menu">
    <span class="menu-close"><i class="fas fa-times"></i></span>
    <form role="search" method="get" id="searchform" class="searchform" action="http://wordpress.zcube.in/xconsulta/">
        <input type="text" name="s" id="search" placeholder="Aranacak kelime..." />
        <button><i class="fa fa-search"></i></button>
    </form>


    <div id="cssmenu3" class="menu-one-page-menu-container">
        <ul class="menu">

            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#parallax">Ana Sayfa</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#about">Hakkımızda</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="##services-05">Hizmetlerimiz</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#pricing">Paketlerimiz </a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#testimonial">Yorumlar </a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#contact">İletişim</a></li>
       
        </ul>
    </div>

    <div id="cssmenu2" class="menu-one-page-menu-container">
        <ul id="menu-one-page-menu-12" class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>@ViewBag.phone</span></a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>@ViewBag.email</span></a></li>
        </ul>
    </div>
</div>
<div class="offcanvas-overly"></div>