<section id="custom_html-5" class="widget_text widget widget_custom_html">
    <h2 class="widget-title">Bizi Takip Edin</h2>
    <div class="textwidget custom-html-widget">
        <div class="widget-social">
            <a href="https://twitter.com/login" target="_blank" title="Twitter Giriş"><i class="fab fa-twitter"></i></a>
            <a href="https://www.pinterest.com/login/" target="_blank" title="Pinterest Giriş"><i class="fab fa-pinterest-p"></i></a>
            <a href="https://www.facebook.com/login/" target="_blank" title="Facebook Giriş"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/accounts/login/" target="_blank" title="Instagram Giriş"><i class="fab fa-instagram"></i></a>
            <a href="https://wordpress.com/log-in" target="_blank" title="WordPress Giriş"><i class="fab fa-wordpress"></i></a>
        </div>
    </div>
</section>